$black:             #1D1B1D;
$charcoal:          #1D1B1D;
$white:             #ffffff;
$grey:              #ececec;
$light-grey:        #e4e4e4;
$tan:               #F7F5F3;
$dark-tan:          #ece7e2;
$light-tan:         #dbdad9;
$green:             #5e5b4a;
$pink:              rgba(#d5a8a8, 0.80);
$light-pink:        #ffd6d6;
// $grey:              #edf3f3;
$peach:             #fbe7d3;
$orange:            #FF9800;
$burnt:             #af9382;

$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-serif: 'Times New Roman', georgia, times, serif;
$font-serif-italic: 'Times New Roman', georgia, times, serif;
$font-mono: monospace;

$ease: cubic-bezier(0.59, 0.01, 0, 1);
$smooth: cubic-bezier(0.55, 0.085, 0, 0.99);

$padding: 2rem;

$border-black: 1px solid $black;
$border-grey: 1px solid $grey;


