/* Padding: All
========================================================================== */
.pa05{
  padding: calc(var(--padding) / 2);
}
.pa1{
  padding: var(--padding);
}
.pa2{
  padding: calc(var(--padding) * 2);
}
.pa-gutter{
  padding: calc(var(--padding) / 2);
}
.ma-gutter{
  margin: calc(var(--padding) / 2);
}
.ma-gutter05{
  margin: calc(var(--padding) / 8);
}


/* Padding: Top
========================================================================== */
.pt05{
  padding-top: calc(var(--padding) / 2);
}
.pt1{
  padding-top: var(--padding);
}
.pt2{
  padding-top: calc(var(--padding) * 2);
}
.pt3{
  padding-top: calc(var(--padding) * 3);
}
.pt4{
  padding-top: calc(var(--padding) * 4);
}

/* Padding: Bottom
========================================================================== */
.pb05{
  padding-bottom: calc(var(--padding) / 2);
}
.pb1{
  padding-bottom: var(--padding);
}
.pb2{
  padding-bottom: calc(var(--padding) * 2);
}
.pb3{
  padding-bottom: calc(var(--padding) * 3);
}
.pb4{
  padding-bottom: calc(var(--padding) * 4);
}

/* Padding: Right
========================================================================== */
.pr05{
  padding-right: calc(var(--padding) / 2);
}
.pr1{
  padding-right: var(--padding);
}
.pr2{
  padding-right: calc(var(--padding) * 2);
}

/* Padding: Left
========================================================================== */
.pl05{
  padding-left: calc(var(--padding) / 2);
}
.pl1{
  padding-left: var(--padding);
}
.pl2{
  padding-left: calc(var(--padding) * 2);
}

/* Display
========================================================================== */
.db{
  display: block;
}

.dib{
  display: inline-block;
}

.visible-sm-up{
  display: none;
  @include breakpoint(sm) {
    display: block;
  }
}

.visible-md-up{
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}

.visible-lg-up{
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

/* Backgrounds
========================================================================== */
.bg-white{
  background-color: $white;
}

.bg-tan{
  background-color: $tan;
}

.bg-dark-tan{
  background-color: $dark-tan;
}

.bg-grey{
  background-color: $grey;
}

.bg-pink{
  background-color: $pink;
}

.bg-peach{
  background-color: $peach;
}

.bg-light-pink{
  background-color: $light-pink;
}

/* Borders
========================================================================== */
.bt-black{
  border-top: 1px solid $black;
}

.bt-grey{
  border-top: 1px solid $grey;
}

.bb-grey{
  border-bottom: 1px solid $grey;
}

.br-grey{
  border-right: 1px solid $grey;
}

/* Text colour
========================================================================== */
.t-white{
  color: $white;
}

.t-black{
  color: $black;
}

.t-grey{
  opacity: 0.35;
}

.mobile-display{
  display: block;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.is-sticky{
  position: sticky;
  top: 0;
}
.is-fixed{
  position: fixed;
}
