/* Base typography
========================================================================== */
// :root {
// /* Increase or decrease the number
// to change the vertical spacing globally*/
//
// /* Base Vertical Spacing */
//     --space: 1.6;
//
// /* Vertical Spacing - multiplier */
//     --vspace: calc(var(--space) * 1rem);
//     --vspace-0: calc(3 * var(--space) * 1rem);
//     --vspace-1: calc(2 * var(--space) * 1rem);
//     --vspace-2: calc(1.5 * var(--space) * 1rem);
//     --vspace-3: calc(0.5 * var(--space) * 1rem);
// }

html {font-size: 10px;}

body {
    font-size: 1.4em;
    // max-width: calc(25 * var(--vspace));
    // margin: 0 auto;
}

p {
  padding-bottom: calc(var(--padding / 2));
    // margin: var(--vspace) 0;
    // line-height: var(--vspace);
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-sans;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: calc(1.6rem + 10vw);
  line-height: 1.1;
  word-spacing:-0.005em;
  // @include breakpoint(md) {
  //   font-size: 6.854em;
  // }
}
//
// h2 {
//     margin: var(--vspace-2) 0 var(--vspace-3) 0;
//     line-height: 1em;
// }
//
// h3 {
//     margin: var(--vspace-1) 0 var(--vspace-3) 0;
//     line-height: 1em;
// }
//
// h4, h5, h6 {
//     margin: var(--vspace-2) 0 var(--vspace-3) 0;
//     line-height: var(--vspace);
// }

// .bigtitle, h1 {
//     font-size: 4.4583em;
//     word-break: break-word;
// }

h2 {
    font-size: 2.625em;
    line-height: 1.2;
    font-weight: lighter;
    word-break: break-word;
}

.subheading1, h3 {
    font-size: 1.7917em;
    line-height: 1.2;
    font-weight: normal;
    font-family: $font-serif;
}

blockquote {
    font-size: em;
    font-style:italic;
    // line-height: calc(var(--vspace));
    // margin: var(--vspace-2) var(--vspace-2);
}

.subheading2, h4 {
    font-size: 1.625em;
    text-transform: capitalize;
    font-family: $font-sans;
    // text-align: center;
    padding-bottom: 0.25em;
    text-indent: 1.5em;
}

.subheading3, h5 {
    font-size: 1.4792em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.subheading4, h6 {
    font-size: 1.3333em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0px!important;
}

.caption_ts {
    font-size: 1.1042em;
    font-weight: normal;
    font-style: italic;
}

.endnote_ts {font-size: 1.1042em;}

// .footnote_ts {
//   margin: var(--vspace-0) 0 var(--vspace-2) 0;
//   font-size: 1em;
//   border-top: 1px solid #ccc;
//   line-height: 2em;
// }

sup {
    font-size: 1rem;
    margin: .5em;
    text-transform: none;
    font-style: italic;
    font-family: $font-serif-italic;
    font-weight: normal;
}

.uc{
  text-transform: uppercase;
  letter-spacing: 0.055em;
}
.t-italic, em{
  font-style: italic;
  font-family: $font-serif-italic;
}
.t-center{
  text-align: center;
}
.t-left{
  text-align: left;
}
.t-right{
  text-align: right;
}

.t-right-ns{
  text-align: left;
  @include breakpoint(sm) {
    text-align: right;
  }
}

/* Quotes
========================================================================== */
// blockquote{
//   padding: 8rem 0;
//   margin: 0 auto;
//   p{
//     padding-left: 6rem;
//     font-size: calc(2rem + 0.95vw);
//     text-indent: -1.35rem !important;
//     &:before{
//       // content: '\0201C';
//     }
//     &:after{
//       // content: '\0201D';
//     }
//     @include breakpoint(sm) {
//       p { font-size: calc(2rem + 0.95vw)};
//     }
//     @include breakpoint(md) {
//       p { font-size: calc(2rem + 1vw);}
//     }
//     @include breakpoint(lg) {
//       p { font-size: calc(2.2rem + 1.25vw);}
//     }
//   }
// }

/* Links
========================================================================== */
a {
  text-decoration: none;
  transition: color 0.35s $ease, opacity 0.35s $ease;
  border-bottom-style: none;
  border-bottom: 0.1rem $charcoal;
  // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
	// cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;

  &:hover{
    // border-bottom-style: solid;
    // margin-bottom: 2px;
    // border-bottom: 1px solid $black;
    // text-decoration: underline;
    // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
    // cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;
  }
}
.link-hover {
  text-decoration: none;
  transition: color 0.35s $ease, opacity 0.35s $ease;
  &:hover{
    opacity: 0.35;
  }
}

.link{
  text-decoration: none;
  transition: all 0.35s $smooth;
  opacity: 0.35;
  // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
	// cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;

  &:hover{
    text-decoration: none;
    // color: $charcoal;
    opacity: 1;
    // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
    // cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;
  }
  &:active{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

.link-border{
  text-decoration: none;
  transition: all 0.35s $smooth;
  padding-bottom: 0.25rem;
  // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
	// cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;
  border-bottom: solid 1px $black;
  // border-color: none;

  &:hover{
    text-decoration: none;
    color: $charcoal;
    border-color: rgba(0, 0, 0, 0);
    // cursor: url(~assets/images/cursor-hover.png) 20 20, pointer;
    // cursor: -webkit-image-set(url(~assets/images/cursor-hover.png) 1x, url(~assets/images/cursor-hover@2x.png) 2x) 20 20, pointer;
  }
  &:active{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}

// a:hover,
// a:active,
// a:focus{
//   text-decoration: none;
// }


/* Lists
========================================================================== */
ul {
  list-style-type:none;
  padding: 0;
}

.list-bullets{
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1.5em;
  li {
    position: relative;
  }

  li::before {
    counter-incement: paragraph;
    content: "\02022";
    position: absolute;
    left: -1.5em;
  }
}

.list-decimal{
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

.text-muted{
  color: grey;
}
