.button{
  display: inline-block;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-decoration: none;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s $smooth;
  color: var(--color-white);
  &:hover{
    transform: scale(0.98);
    a{
      text-decoration: none;
    }
  }
}

.button--dark{
  background-color: var(--color-dark-navy);
  &:hover{
    background-color: var(--color-purple);
  }
}

.button--light{
  background-color: var(--color-light-navy);
  &:hover{
    background-color: var(--color-dark-navy);
  }
}